@use '../abstract/variables' as v;
@use '../abstract/mixins' as mx;

.main {
	width: 33rem;
	height: 22rem;
	padding: 2.5rem 2.5rem 3.5rem;
	border-radius: 1rem;
	background-color: v.$blue-900;
	position: relative;
	@include mx.flex($justify: space-around, $gap: 0rem);
	@include mx.mobile(v.$mobile) {
		width: 100%;
		height: 22rem;
		padding: 0.5rem 0.5rem 2.5rem;
	}

	&__btn {
		position: absolute;
		padding: 1.25rem;
		background-color: v.$Green-300;
		border-radius: 2rem;
		bottom: -2rem;
		transition: box-shadow 0.15s ease;
		&:hover {
			cursor: pointer;
			box-shadow: 0.1rem 0.1rem 0.2rem rgba(15, 129, 15, 0.439),
				0.09rem 0.09rem 0.3rem rgba(0, 98, 0, 0.446),
				0.08rem 0.08rem 0.4rem rgba(0, 59, 0, 0.577),
				0.07rem 0.07rem 1rem rgba(0, 156, 0, 0.16),
				0.06rem 0.06rem 1.6rem rgba(0, 208, 0, 0.22),
				0.05rem 0.05rem 1.7rem rgba(0, 255, 0, 0.188);
		}
	}
}
