@media (prefers-reduced-motion: reduce) {
	* {
		-webkit-animation: none !important;
		animation: none !important;
		-webkit-transition: none !important;
		transition: none !important;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}
*::before,
*::after {
	display: block;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
	object-position: center center;
}

button {
	font: inherit;
	hyphens: auto;
	background-color: transparent;
	color: inherit;
	display: block;
}

button {
	cursor: pointer;
}
